<a href="https://colab.research.google.com/github/arumugammani02/MongoDB-Task/blob/main/Telephone_Directory_CRUD_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)

In [67]:
from pymongo import MongoClient

In [68]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://Arumugammani:12345@cluster0.qtp3bn3.mongodb.net/?retryWrites=true&w=majority")
db = client.Mongodb_Task
record = db.Telephone_Directory

data = { "Name":"Arumugam", "Phone_number": 8610276292, "Place": "Chennai" }


x = record.insert_one(data)

In [69]:
directory  = [
    
           {"Name":"Jayapal", "Phone_number": 8667866339, "Place": "Coimbatore"},
           {"Name":"Rajkumar", "Phone_number": 8807007907, "Place": "Chennai"},
           {"Name": "Arun", "Phone_number": 9092284378, "Place": "Bangalore"},
           {"Name":"Surya", "Phone_number": 9092375534, "Place": "Mysore"},
           {"Name":"Kokul", "Phone_number": 9514010889, "Place": "Chennai"}
    
]


insertion = record.insert_many(directory)

print(insertion.inserted_ids)

[ObjectId('63b79be7769558c88b58b0dc'), ObjectId('63b79be7769558c88b58b0dd'), ObjectId('63b79be7769558c88b58b0de'), ObjectId('63b79be7769558c88b58b0df'), ObjectId('63b79be7769558c88b58b0e0')]

**Insert the record into the collection**

In [70]:
def insert():                                                 
    print("Enter how many records that you want to insert")
    b=int(input())
    for i in range(b):
        print(f"Enter values for {i+1} document")
        print("Enter name:")
        c=input()
        print("Enter Phone number:")
        d=int(input())
        print("Enter place:")
        e=input()
        f={'Name':c,"Phone":d,"Place":e}
        db.telephone.insert_one(f)

**Make a query to find records you just created**

In [71]:
def find():                                                  
    print("\nYou can find documents using following features")
    print("1.Name\n2.PhoneNo\n3.Place")
    b=int(input())
    print("\n1.To find one documents\n2.To find multiple documents")
    d=int(input())
    if(d==1):
        if(b==1):
            c=input("Enter name\n")
            print(db.telephone.find_one({"Name":c}))
        elif(b==2):
            c=int(input("Enter PhoneNo\n"))
            print(db.telephone.find_one({"PhoneNo":c}))
        elif(b==3):
            c=input("Enter Place\n")
            print(db.telephone.find_one({"Place":c}))
        else:
            print("Invalid input")
    else:
        if(b==1):
            c=input("Enter name\n")
            for i in db.telephone.find({"Name":c}):
                print(i)
        elif(b==2):
            c=int(input("Enter PhoneNo\n"))
            for i in db.telephone.find({"Phone":c}):
                print(i)
        elif(b==3):
            c=input("Enter Place\n")
            for i in db.telephone.find({"Place":c}):
                print(i)
        else:
            print("Invalid input")

**update_one() method**

In [72]:
def update_one():                                                
    print("\nYou can select documents to which you want to update by using following features")
    print("1.Name\n2.PhoneNo\n3.Place")
    b=int(input())
    
    if b not in [1,2,3]:
        print("Invalid input")
    else:
        print("Enter it")
        if(b==2):
            c=int(input())
        else:
            c=input()

        fer={1:"Name",2:"PhoneNo",3:"Place"}

        print("\nwhat we have to update")
        print("1.Name\n2.PhoneNo\n3.Place")
        d=int(input())

        if(d==2):
            s={1:"Name",2:"PhoneNo",3:"Place"}
            print("Enter new value")
            e=int(input())
        elif(d in [1,3]):
            s={1:"Name",2:"PhoneNo",3:"Place"}
            print("Enter new value")
            e=input()
        else:
            print("Enter the new key")                           #if we want to create 'new key,value pair'
            e=input()
            s={1:"Name",2:"PhoneNo",3:"Place"}
            s[d]=e
            print("Enter the value for new key")
            e=input()
        
        
        print(s)
        print(db.telephone.update_one({fer[b]:c},{"$set":{s[d]:e}}))

**delete_one() method**

In [73]:
def delete():                                                  #function to delete
    print("\nYou can select documents to which you want to delete by using following features")
    print("1.Name\n2.PhoneNo\n3.Place")
    b=int(input())
    
    if b not in [1,2,3]:
        print("Invalid input")
    else:
        print("Enter it")
        if(b==2):
            c=int(input())
        else:
            c=input()
        fer={1:"Name",2:"PhoneNo",3:"Place"}
        
        db.telephone.delete_one({fer[b]:c})

Take valid input

In [74]:
print("You can Perform Following operation")
print("1.Insert\n2.Find\n3.Update\n4.Delete")
a=int(input())                                 
if(a==2):
    find()
    
if(a==3):
    update_one()
    
if(a==4):
    delete()
    
if(a==1):
    insert()
    
if a not in [1,2,3,4]:
    print("Invalid input")

You can Perform Following operation
1.Insert
2.Find
3.Update
4.Delete
1
Enter how many records that you want to insert
1
Enter values for 1 document
Enter name:
Vikram
Enter Phone number:
8610276282
Enter place:
Villupuram

In [75]:
for i in db.telephone.find():      #Just to check Reflection of CRUD operations on given collection of documents
    print(i)

{'_id': ObjectId('63b79a2c769558c88b58b0d9'), 'Name': 'arun', 'Phone': 8610276292, 'Place': 'Chennai'}
{'_id': ObjectId('63b79c23769558c88b58b0e1'), 'Name': 'Vikram', 'Phone': 8610276282, 'Place': 'Villupuram'}